.upload-media-item {
  display: flex;
  align-items: center;
  background-color: var(--main-bg-color);
  padding: 1em;
  border-radius: 4px;
  margin: 0.5em 0;
}

.media-icon,
.media-status {
  line-height: 0;
}

.media-name {
  margin: 0 1em 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
}

.media-status {
  margin-left: auto;
}

.media-status > button {
  padding: 0;
  color: var(--main-text-fg-color);
}
