.searchbar {
  background-color: #495057;
  padding: 10px 20px;
  border-radius: 20px;
}

.searchbar-input {
  color: #adb5bd;
  display: flex;
  align-items: center;
}

.searchbar-input > input {
  font-size: 1rem;
  color: #adb5bd;
  background-color: transparent;
  border: 0;
  outline: none;
  margin-left: 10px;
  width: 100%;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .searchbar {
    padding: 5px 15px;
  }
}
