.select-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-bg-color);
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: var(--main-text-fg-color);
  padding: 0em 1.5em;
}

.select-bar button {
  color: var(--main-text-fg-color);
}

.select-bar-display-text {
  font-size: 1.2rem;
  margin-left: 1em;
}

.select-bar-display-text span:last-child {
  margin-left: 0.5em;
}

.select-bar-controls {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.select-bar-control {
  margin: 0.5em 0;
}
