.photos {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  color: var(--main-text-fg-color);
}

.photos .section,
.photos .segment {
  background-color: transparent;
}

.photos .section-header {
  font-size: 0.8rem;
}

.photos .segment-header {
  font-size: 0.8rem;
}

.photos .tile {
  background-color: var(--highlight-bg-color);
}

.photos .checkbutton {
  color: var(--main-text-fg-color);
}
