.storagebar {
  background-color: var(--highlight-bg-color);
  padding: 1em 1.5em;
  display: inline-block;
  border-radius: 20px;
  width: 200px;
}

.storagebar > h4 {
  font-size: 1rem;
  margin-bottom: 1em;
}

.storagebar h6 {
  font-size: 0.8rem;
  color: var(--sub-text-fg-color);
  text-align: right;
}

@media screen and (max-width: 768px) {
  .storagebar {
    width: 180px;
  }
}
